table, th, td {
    border: 1px solid black;
}
.product-name {
    color: white;
}
.add-cart-btn {
    background-color: rgb(79, 207, 100);
    min-width: 130px;
    height: 40px;
    line-height: 1.3;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
